/* Página Productos */

.main-productos {
  padding: 140px 1rem 2rem;
  max-width: 1200px;
  margin: 0 auto; /* 👈 Centra horizontalmente */
  text-align: center; /* 👈 Centra el texto y contenido inline-block */
  @extend %flexColumn;
}

/* Carruseles de categorías */
.categoria-productos {
  margin: 0 auto;
  text-align: center;
  width: 100%;
  max-width: 600px; /* O lo que quieras según el diseño */
  margin: 2rem auto;
}

.carousel {
  width: 100%;
  margin-top: 1rem;
}

.carousel-item img {
  width: 100%;
  height: 300px;
  object-fit: cover;
  object-position: center;
  border-radius: 8px;
}

/* Botones prev/next del carousel */
.carousel-control-prev-icon,
.carousel-control-next-icon {
  background-color: black;
  border-radius: 50%;
  padding: 1rem;
  opacity: 0.8;
}

.carousel-control-prev-icon:hover,
.carousel-control-next-icon:hover {
  opacity: 1;
}


