/* Página Productos */

.main-productos{
  margin-top: 160px;
  margin-bottom: 8rem;
}
.grid-productos-general {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
  gap: 1.5rem;
  padding: 2rem 1rem;
  background-color: variables.$backgroundColorGrid;
  justify-items: center;
}
.escudoLiga{
  width:2rem !important;
}

.productos a{
  text-decoration: none;
}
.card-body{
  padding: 0 !important;
}
